<Div Flex="Blazorise.Flex.Default.Grow.Is1">
    <_SchedulerHourColumn StartTime="@StartTime" EndTime="@EndTime" />

    <_SchedulerDayColumn StartTime="@StartTime" EndTime="@EndTime" Date="@SelectedDate" />
</Div>