<Div Position="Blazorise.Position.Relative" Flex="Blazorise.Flex.Grow.Is1" Background="@BackgroundColor">
    @if ( ShowDayHeader )
    {
        <Div Flex="Blazorise.Flex.Column" Padding="Blazorise.Padding.Is1" TextAlignment="TextAlignment.Center" Width="Blazorise.Width.Is100" Height="Height.Px( 60 )" Border="Border.Is1.OnBottom.Is1.OnStart" @onclick="@(() => Console.WriteLine( $"header click: {Date}" ))">
            <Span TextWeight="TextWeight.Bold">
                @Date?.ToString( "dddd" )
            </Span>
            <Span TextColor="TextColor.Muted">
                @Date?.ToString( "MMM dd" )
            </Span>
        </Div>
    }
    @for ( int hour = ( StartTime?.Hour ?? 0 ); hour <= ( EndTime?.Hour ?? 24 ); ++hour )
    {
        <_SchedulerDay @key="@hour" Date="@Date" Hour="@hour" />
    }
</Div>
@code {
    private Blazorise.Background BackgroundColor => Date?.Date.Year == SelectedDate?.Date.Year && Date?.Date.Month == SelectedDate?.Date.Month && Date?.Date.Day == SelectedDate?.Date.Day
        ? Blazorise.Background.Light
        : Blazorise.Background.Default;

    [Parameter] public DateTime? Date { get; set; }

    [Parameter] public DateTime? SelectedDate { get; set; }

    [Parameter] public TimeOnly? StartTime { get; set; }

    [Parameter] public TimeOnly? EndTime { get; set; }

    [Parameter] public bool ShowDayHeader { get; set; }
}