<Div Flex="Blazorise.Flex.Default">
    <_SchedulerHourColumn StartTime="@StartTime" EndTime="@EndTime" SelectedDate="@SelectedDate" />

    @for ( int i = 1; i <= 7; ++i )
    {
        <_SchedulerDayColumn StartTime="@StartTime" EndTime="@EndTime" SelectedDate="@SelectedDate" />
    }
</Div>