@inherits BaseComponent
<CascadingValue Value="@this" IsFixed>
    <div>
        @if ( ShowToolbar )
        {
            <Div Class="b-pdf-toolbar" Background="Background.Light" Style="display: flex;align-items: flex-end;width: 100%;z-index: 70;height: 40px;">
                <Button Clicked="@OnToolbarPreviousPageClicked" Size="Size.Small">
                    <Icon Name="IconName.ArrowUp" />
                </Button>
                <Button Clicked="@OnToolbarNextPageClicked" Size="Size.Small">
                    <Icon Name="IconName.ArrowDown" />
                </Button>
                <Button Clicked="@OnToolbarZoomOutClicked" Size="Size.Small">
                    <Icon Name="IconName.MinusCircle" />
                </Button>
                <Button Clicked="@OnToolbarZoomInClicked" Size="Size.Small">
                    <Icon Name="IconName.PlusCircle" />
                </Button>
            </Div>
        }
        <div class="b-pdf-content">
            <div @ref="@ElementRef" id="@ElementId" class="b-pdf-document" style="width: calc(100% - 0px);margin-left: 0px;">
                <div class="b-pdf-pages">
                </div>
            </div>
        </div>
    </div>
</CascadingValue>