@inherits BaseComponent
<Div Class="@ClassNames" Style="@StyleNames" Flex="Blazorise.Flex.Column.Wrap" Border="Blazorise.Border.Is1">
    <CascadingValue Value="@this" IsFixed>
        <CascadingValue Value="@State">
            @if ( schedulerToolbar is not null && ShowToolbar )
            {
                <_SchedulerToolbar />
            }

            <_SchedulerViews>
                @if ( ShowDayView )
                {
                    <_SchedulerDayView StartTime="@schedulerDayView.StartTime" EndTime="@schedulerDayView.EndTime" SelectedDate="@state.SelectedDate" />
                }
                @if ( ShowWeekView )
                {
                    <_SchedulerWeekView StartTime="@schedulerWeekView.StartTime" EndTime="@schedulerWeekView.EndTime" SelectedDate="@state.SelectedDate" />
                }
            </_SchedulerViews>
        </CascadingValue>
    </CascadingValue>
</Div>

@* This one is to hold information about the scheduler *@
<CascadingValue Value="@this" IsFixed>
    @ChildContent
</CascadingValue>